.linkButton {
  display: inline-block;

  height: 45px;
  padding: 15px 40px;
  border-radius: 43px;

  font-weight: 600;
  line-height: 120%;
  color: var(--color-main);

  background-color: var(--color-primary);

  transition: all ease 0.5s;
}

@media (hover: hover) and (pointer: fine) {
  .linkButton:hover {
    transform: scale(0.98);
    background-color: var(--color-hard-primary);
  }

  .linkButton:active {
    background-color: var(--color-soft-primary);
  }
}
