.categories {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.category-item {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
}

.category-item label {
  cursor: pointer;
  width: 100%;
  text-transform: capitalize;
}

.category-item input {
  cursor: pointer;
}

.category-border {
  border-bottom: solid 1px var(--color-gray-9);
}
