.category-name {
  cursor: pointer;
  text-transform: capitalize;
}

.category-name:hover {
  text-decoration: underline;
}

.category-name-no-active {
  pointer-events: none;
  text-decoration: none;
}

@media (width <= 600px) {
  .catalog-navigation {
    text-align: center;
  }
}
