.discount-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.discount-list {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 1rem 2rem;
  text-align: center;
}
