.clearCartNotification {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.notificationMessage {
  font-size: 20px;
  text-align: center;
}
