.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

.button {
  cursor: pointer;

  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;

  font-size: 16px;
  color: var(--color-gray-6);

  background-color: var(--color-main);
  outline: 1px solid var(--color-main);
}

.button.active {
  cursor: default;

  font-weight: 500;
  color: var(--color-main);

  background-color: var(--color-primary);
  outline: none;
}

.button.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid var(--color-gray-1);
}

.button.arrow:disabled {
  cursor: default;
  background-color: var(--color-secondary-bg);
}

.button.arrow:disabled path {
  stroke: var(--color-gray-3);
}

@media (width <= 600px) {
  .pagination {
    justify-content: center;
  }
}

@media (hover: hover) and (pointer: fine) {
  .button:not(.active, .arrow):hover {
    outline: 1px solid var(--color-gray-1);
  }
}
